{{#if page.navigation}}
<aside class="mdc-drawer mdc-drawer--modal mdc-drawer--open nav-container">
  <div class="mdc-drawer__content">
    {{> nav-tree navigation=page.navigation}}
  </div>
</aside>
{{/if}}

