// $mdc-theme-primary: #563A89; // #573C89;
// $mdc-theme-on-primary: white;
// $mdc-theme-secondary: white; //#253746;
// $mdc-theme-on-secondary: white;
// $mdc-theme-error: #b00020;
// $mdc-theme-on-error: #ffffff;
// $mdc-theme-surface: #ffffff;
// $mdc-theme-on-surface: #637D93; // #573C89;
// $mdc-theme-background: #ffffff;

$mdc-theme-primary: #563A89; // #573C89;
$mdc-theme-on-primary: white;
$mdc-theme-secondary: white; //#253746;
$mdc-theme-on-secondary: white;
$mdc-theme-error: white;
$mdc-theme-on-error: white;
$mdc-theme-surface: white;
$mdc-theme-on-surface: white; // #573C89;
$mdc-theme-background: white;