
// customizations 
// navigation
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/ripple/mdc-ripple";



.nav-container .mdc-list-item.is-current-page {
  color: $mdc-theme-primary;
}

div.mdc-list-item--activated {
  background-color: white; 

  a.mdc-list-item__text {
    color: $mdc-theme-primary
  }
}

/*
  this jacked up selector was the only way i could override the default background color 
  for the mdc-list nonsense. 
*/
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated:after, :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated:before {
  background-color: white; 
}

a.mdc-list-item__text { 
  color: black 
}

// push the nav menu down a bit 
.mdc-drawer__content {
  margin-top: 20px; 
}

// styling for the nav aside
.nav-container {
  @include mdc-drawer-fill-color-accessible(white);
  @include mdc-drawer-z-index(0);
  @include mdc-elevation(1);

  text-transform: uppercase;

  width: 50%; 

  .mdc-list {
    @include mdc-list-single-line-density(-4)
    @include mdc-list-single-line-shape-radius(0, true, 0)

    margin: 5px 5px 5px 5px;
  }

  .mdc-list-item {
    color: black; 
    justify-content: left;
    font-size: 12px; 
    overflow-wrap: break-word; 
  }

  .mdc-list-item:hover {
    background-color: #fafafa;
  }

}

.mdc-list-item--children-panel {
  padding-left: 1rem;
  max-height: 0;
  overflow: hidden; 
  transition: max-height 0.2s ease-out;
}

aside.mdc-drawer .mdc-list-item .mdc-list-item__graphic{
  transition: all 0.2s ease-out;
  margin-right: 0.25rem; 
}

aside.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic{
  transform: rotate(90deg); 
  transition: transform 0.2s; 
}

/////////////////
.nav-container {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  font-size: calc(17 / var(--rem-base) * 1rem);
  z-index: var(--z-index-nav);
  visibility: hidden;
}

@media screen and (min-width: 769px) {
  .nav-container {
    width: calc( var(--nav-width));
  }
}

@media screen and (min-width: 1024px) {
  .nav-container {
    font-size: calc(15.5 / var(--rem-base) * 1rem);
    flex: none;
    position: static;
    top: 0;
    visibility: visible;
  }
}

.nav-container.is-active {
  visibility: visible;
}

.nav {
  background: var(--nav-background);
  position: relative;
  top: var(--toolbar-height);
  height: var(--nav-height);
}

@media screen and (min-width: 769px) {
  .nav {
    box-shadow: 0.5px 0 3px var(--nav-border-color);
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    top: var(--navbar-height);
    box-shadow: none;
    position: sticky;
    height: var(--nav-height--desktop);
  }
}

.nav .panels {
  display: flex;
  flex-direction: column;
  height: inherit;
}

html.is-clipped--nav {
  overflow-y: hidden;
}

.nav-panel-menu {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: var(--nav-panel-height);
}

@media screen and (min-width: 1024px) {
  .nav-panel-menu {
    height: var(--nav-panel-height--desktop);
  }
}

.nav-panel-menu:not(.is-active) .nav-menu {
  opacity: 0.75;
}



.nav-menu {
  flex-grow: 1;
  min-height: 0;
  width: 100%;
  padding: 0.5rem 0.75rem;
  line-height: var(--nav-line-height);
  position: relative;
}

.mdc-drawer__content .nav-list {
  margin-left: 0; 
}

ul.nav-list {
  padding-inline-start: 2px; 
}