
// customizations 
// navigation
@import "./common";
@import "@material/drawer/mdc-drawer";
@import "@material/ripple/mdc-ripple";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";

$nav-width: 20%; 
$expand-animation-time: 0.3s; 

div.nav-container {
  @include mdc-elevation(4);

  font-size: 11pt;
  min-width: $nav-width;

  aside {
    position: fixed;
    height: 100%;
    margin-top: 2.5rem;
    padding-left: 0.5rem; 
  }

  .material-icons {
    color: black; 
    font-size: 12pt; 
    min-width: 1rem; 
    transition: all $expand-animation-time ease-in-out; 
    
    &:hover {
      cursor: pointer; 
    }

    &.expanded {
      transform: rotate(90deg);
      transition: all $expand-animation-time ease-in-out; 
    }
  }

  .nav-item {
    max-width: 16rem; 
    color: black; 
    vertical-align: middle;
    padding-top: 0.2rem; 
    padding-bottom: 0.2rem; 

    a{
      text-decoration: none; 
      color: black; 
    }


    & .is-current-page {
      color: $mdc-theme-secondary; 
    }

    &:hover {
      background-color: #EEEEEE;
    }
  }

  .nav-item .spacer {
    display: inline-block; 
    padding-left: 1.2rem; 
  }

}

.nav-children-panel {
  padding-left: 0.5rem; 
  max-height: 0;
  overflow: hidden; 
  transition: max-height $expand-animation-time ease-out;
}

.nav-trees {
  max-width: 100%;
  margin: 0; 
  margin-right: 2rem; 
}

// version select 
.version-box {
  margin: 0; 
  float: right; 
  display: inline-block; 
  margin-top: 4px; 

  span {
    color: #aaa;
    padding-left: 1.2em; 
    padding-top: -6px; 
    font-size: 7pt; 
  }

  &:hover span {
    color: $mdc-theme-secondary;
  }
}


.select-version {
	display: block;
	font-size: 9pt;
	color: #aaa;
	padding: .6em 0 .5em .8em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	border-radius: .5em;
  -moz-appearance: none;
}

.select-version::-ms-expand {
	display: none;
}

.select-version:hover {
  border-color: $mdc-theme-secondary;
  color: $mdc-theme-secondary;
}

.select-version:focus {
	border-color: #aaa;
	box-shadow: #aaa;
	box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: $mdc-theme-secondary;
  border-color: $mdc-theme-secondary;
	outline: none;
}

.select-version option {
	font-weight:normal;
}

.clear {
  clear: both; 
}

.hide {
  display: none !important; 
}

// .nav-container .versions{
//   @include mdc-select-ink-color($mdc-theme-secondary)
//   @include mdc-select-label-color($mdc-theme-secondary)
//   @include mdc-select-focused-label-color($mdc-theme-secondary)
//   @include mdc-select-bottom-line-color($mdc-theme-secondary)
//   @include mdc-select-focused-bottom-line-color($mdc-theme-secondary)
//   @include mdc-select-hover-bottom-line-color($mdc-theme-secondary)
//   @include mdc-select-outline-color($mdc-theme-secondary)
//   @include mdc-select-focused-outline-color($mdc-theme-secondary)
//   @include mdc-select-hover-outline-color($mdc-theme-secondary)

//   border: 1px solid $mdc-theme-secondary; 
//   min-width: 2rem; 
//   max-width: auto; 

//   .mdc-floating-label {
//     font-size: 9pt; 
//   }

//   .mdc-list {
//     @include mdc-list-item-primary-text-ink-color($mdc-theme-secondary)
//     @include mdc-list-divider-color(#EEEEEE)

//     font-size: 9pt; 
//     height: 100%; 

//     .mdc-list-item {
//       height: 1.5rem; 
      
//       &:hover{
//         background-color: #EEEEEE;
//       }
//     }

//     .mdc-list-item--selected {
//       color: $mdc-theme-secondary
//     }
//   }



//   .mdc-select__selected-text {
//     font-size: 9pt; 
//     padding-top: 1rem;
//     padding-left: 1.2rem; 
//     padding-right: 1.75rem; 
//     border-bottom: 0px; 
//     min-width: 5rem; 
//     background: transparent; 
//   }

//   .mdc-select__dropdown-icon {
//     color: $mdc-theme-secondary; 
//     background: transparent; 
//   }
// }